@media (max-width: 700px) {
    :root {
        --max-widht: 500px;
    }
    
    header .block .hotbar {
        display: none;
    }
    
    header .block .hotbar.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;     
        position: absolute;
        top: 50px;
        right: 0;
        width: fit-content;          
        background-color: white;
        padding: 15px 20px;          
        gap: 15px;                   
        box-shadow: -5px 10px 15px rgba(0,0,0,0.1); 
        border-bottom-left-radius: 15px; 
    }

    .menu {
        display: block;
        font-size: 40px;
        margin-right: 30px;
        cursor: pointer;
        line-height: 50px;
        user-select: none;
    }
    
    main .block-template img {
        width: calc(100% - 30px);
    }

    main .block-template {
        flex-direction: column;
    }
    
    main .block-template.flex .block {
        width: 70%;
    }
}